Source: mailman-api
Maintainer: Antonio Terceiro <terceiro@debian.org>
Vcs-Git: https://github.com/TracyWebTech/mailman-api.git -b debian
Vcs-Browser: https://github.com/TracyWebTech/mailman-api
X-Debdry-Build-Depends: python-docutils, dh-python

Package: mailman-api
X-Debdry-Depends: mailman
